![TheBridge_logo_RGB_color.jpg](attachment:TheBridge_logo_RGB_color.jpg)

![imagen](./img/ejercicios.png)

## EJERCICIOS PYTHON BASICO 2:
## Tipos y conversión de tipos

Completa los siguiente ejercicios, la solución a los mismos se publicarán en el repo del curso a lo largo del sprint

![ejercicio.png](./img/ejercicio.png)

## Ejercicio 1

1. Crea dos variables numericas: un `int` y un `float`
2. Comprueba sus tipos
3. Sumalas en otra nueva
4. ¿De qué tipo es la nueva variable?
5. Elimina las dos primeras variables creadas

In [5]:
numero_int=9
numero_float=5.5
print(type(numero_int))
print(type(numero_float))
suma=numero_int+numero_float
print(suma)
print(type(suma))
del numero_int
del numero_float

<class 'int'>
<class 'float'>
14.5
<class 'float'>

![ejercicio.png](./img/ejercicio.png)

## Ejercicio 2
Escribe un programa para pasar de grados a radianes. Hay que usar `input`. Recuerda que la conversión se realiza mediante

radianes = grados*(pi/180)

In [7]:
import math
grados=float(input("introduce valor en grados:"))
radianes=grados*(math.pi/180)
print(f"{grados} grados equivalen a {radianes:.4f} radianes")

introduce valor en grados: 50

50.0 grados equivalen a 0.8727 radianes

![ejercicio.png](./img/ejercicio.png)

## Ejercicio 3
Escribe un programa que calcule el area de un paralelogramo (base x altura). También con `input`

In [9]:
import math
base=float(input("introduce la longitud de la base en cm:"))
altura=float(input("introduce la longitud de la altura en cm:"))
area_total=base*altura
print(area_total)

introduce la longitud de la base en cm: 5
introduce la longitud de la altura en cm: 5

25.0

![ejercicio.png](./img/ejercicio.png)

## Ejercicio 4
Escribe un programa que calcule el area de un paralelogramo (base x altura). También con `input`. En este caso debe ser capaz de admitir valores reales, con decimales, para base y altura en español. (PISTA: Recuerda que tendrás que hacer uso del método replace)

In [ ]:
base = input("Introduce la base del paralelogramo (puede usar comas para decimales): ")
base = float(base.replace(",", "."))
altura = input("Introduce la altura del paralelogramo (puede usar comas para decimales): ")
altura = float(altura.replace(",", "."))
area_total=base * altura
print(area_total)

![ejercicio.png](./img/ejercicio.png)

## Ejercicio 5
Complete el siguiente código para solicitar al usuario su nombre y su edad. Luego, calcule en qué año nació el usuario y muestre el resultado.

In [ ]:
nombre = input("¿Cuál es tu nombre? ")
edad = float(input("¿Cuál es tu edad? "))
año_actual = 2024  # Puedes cambiarlo según el año en curso
año_nacimiento = año_actual - edad

print(f"{nombre}, naciste en el año {año_nacimiento}.")